*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #777;
  margin: 2.5rem;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      margin: 0; } }

@keyframes header-main-slide-effect {
  from {
    opacity: 0;
    transform: translateX(-10rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes header-sub-slide-effect {
  from {
    opacity: 0;
    transform: translateX(10rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes button-move-up-effect {
  from {
    opacity: 0;
    transform: translateY(4.5rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center; }
  .heading-primary-main {
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    animation: header-main-slide-effect;
    animation-timing-function: ease-out;
    animation-duration: 1s; }
    @media (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 4rem;
    letter-spacing: calc(1.4rem + 0.6px);
    animation: header-sub-slide-effect 1s ease-out;
    margin-bottom: 4rem; }
    @media (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: .5rem;
        font-size: 3rem; } }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #959cdf, #1b289c);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 5px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(2deg) scale(1.05);
    text-shadow: 0.5rem 1rem 0.7rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  text-align: justify;
  font-weight: 300;
  font-size: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-2 {
  margin-bottom: 1.5rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-margin-top-3 {
  margin-top: 3rem; }

.btn, .btn:link, .btn:visited {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 15rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn-section {
  text-align: center; }

.btn-white {
  background-color: #fff;
  color: #000; }
  .btn-white::after {
    background-color: #fff; }

.btn-purple {
  background-color: #1b289c;
  color: #fff; }
  .btn-purple::after {
    background-color: #1b289c; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-animated {
  animation: button-move-up-effect 1s ease-out 0.5s;
  animation-fill-mode: backwards; }

.button-text:link, .button-text:visited {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  padding: .8rem 2rem .4rem;
  border-radius: 10rem;
  transition: all .3s;
  background-color: #4955c0; }

.button-text:hover {
  background-color: #1b289c;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(0); }

.button-text:not(:last-child) {
  margin-bottom: 4rem; }

.row {
  max-width: 114rem;
  color: black;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:first-child {
    margin-top: 3rem; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="col-"] {
    padding: 0.5rem 0;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 8rem)) / 4); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 8rem)) / 3); }

.composition {
  position: relative; }
  .composition-photo {
    width: 60%;
    height: 20rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: absolute;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition-photo-p1 {
      left: 20%;
      top: 0rem; }
    .composition-photo-p2 {
      left: 60%;
      top: 4rem; }
    .composition-photo-p3 {
      left: 40%;
      top: 12rem; }
    .composition-photo:hover {
      outline: 1.5rem solid #4955c0;
      transform: scale(1.1);
      z-index: 1;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6); }
  .composition:hover .composition-photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  transition: all .2s;
  height: 45rem;
  width: 120%; }
  .feature-box-icon {
    width: 40%; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .feature-box-text {
    font-size: 2rem; }

.feature-heading-tertiary {
  font-size: 2.5rem; }

.card {
  perspective: 140rem;
  -moz-perspective: 130rem;
  height: 50rem;
  position: relative; }
  .card-side {
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden; }
    .card-side-front {
      background-color: #fff; }
    .card-side-back {
      transform: rotateY(180deg); }
      .card-side-back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card-side-back-2 {
        background-image: linear-gradient(to right bottom, #959cdf, #1b289c); }
      .card-side-back-3 {
        background-image: linear-gradient(to right bottom, #29ff69, #166330); }
  .card:hover .card-side-front {
    transform: rotateY(-180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0deg); }
  .card-picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card-picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/shiva-avatar-1.jpg); }
    .card-picture-2 {
      background-image: linear-gradient(to right bottom, #959cdf, #1b289c), url(../images/shiva-avatar-2.jpg); }
    .card-picture-3 {
      background-image: linear-gradient(to right bottom, #29ff69, #166330), url(../images/shiva-avatar-3.jpg); }
  .card-heading {
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 1rem;
    text-align: right;
    width: 75%; }
    .card-heading-span {
      padding: 0rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card-heading-span-1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card-heading-span-2 {
        background-image: linear-gradient(to right bottom, rgba(149, 156, 223, 0.85), rgba(27, 40, 156, 0.85)); }
      .card-heading-span-3 {
        background-image: linear-gradient(to right bottom, rgba(41, 255, 105, 0.85), rgba(22, 99, 48, 0.85)); }
  .card-details {
    padding: 3rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        text-align: center;
        font-size: 3rem;
        padding: 1rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 2px solid #eee; }
  .card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center; }
  .card-detail-box {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 2rem;
    font-weight: 500; }

.devotee {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 2.1rem;
  transform: skewX(-12deg); }
  .devotee-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .devotee-image {
    width: 100%;
    transform: scale(1.2);
    transition: all .5s; }
  .devotee:hover .devotee-image {
    transform: scale(1);
    opacity: .85;
    filter: blur(1px) brightness(75%); }
  .devotee-text {
    transform: skewX(12deg); }
  .devotee-caption {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, 25%);
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .devotee:hover .devotee-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .7; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: fill; }

.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-input {
  font-size: 2rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #fff;
  border: none;
  color: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  text-decoration: none;
  transition: all .3s; }
  .form-input:required {
    box-shadow: none; }
  .form-input:focus:invalid {
    outline: none;
    border-bottom: 3px solid #f36532; }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #4955c0; }
  .form-input::-moz-placeholder {
    color: #999; }
  .form-input::-webkit-input-placeholder {
    color: #999; }

.form-lable {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .4s; }

.form-input:placeholder-shown + .form-lable {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-radio-group {
  width: 49%;
  display: inline-block; }

.form-radio-lable {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #1b289c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form-radio-button::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b289c;
    opacity: 0;
    transition: opacity .2s; }

.form-radio-input:checked ~ .form-radio-lable .form-radio-button::after {
  opacity: 1; }

.form-radio-input {
  display: none; }

.popup {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup-close:link, .popup-close:visited {
    text-decoration: none;
    font-size: 4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    line-height: 1;
    color: #333;
    display: inline-block;
    transition: all .2s; }
  .popup-close:hover {
    color: #1b289c;
    transform: scale(1.1); }
  .popup-content {
    width: 75%;
    background-color: #fff;
    box-shadow: 0 1.5rem 2.5rem rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all .4s .2s; }
  .popup:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup-left {
    width: 33.3333%;
    display: table-cell; }
  .popup-right {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup-img {
    display: block;
    width: 100%;
    height: 25rem; }
  .popup-text {
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: justify;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #000;
    -ms-column-count: 2;
    -ms-column-gap: 4rem;
    -ms-column-rule: 1px solid #000;
    -webkit-column-count: 2;
    -webkit-column-gap: 4rem;
    -webkit-column-rule: 1px solid #000;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #000;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(27, 40, 156, 0.7), rgba(73, 85, 192, 0.7), rgba(149, 156, 223, 0.7)), url(../images/home.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header-logo {
    position: absolute;
    top: 3.5rem;
    left: 4rem; }
    .header-logo .logo {
      color: #fff;
      height: 7.5rem; }

.footer {
  background-color: #242323;
  padding: 10rem 0;
  font-size: 1.8rem; }
  .footer-logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer-logo {
    width: 15rem;
    height: auto; }
  .footer-navigation {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    display: inline-block; }
  .footer-list {
    list-style: none; }
  .footer-item {
    display: inline-block; }
    .footer-item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer-link {
    padding: 0 1rem;
    transition: all .05s; }
    .footer-link:link, .footer-link:visited {
      color: #f7f7ff;
      background-color: #242323;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block; }
    .footer-link:hover, .footer-link:active {
      color: #29ff69;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.3); }
  .footer-copyright {
    color: #f7f7ff;
    border-top: 1px solid #eee;
    padding-top: 2rem;
    width: 80%;
    float: right; }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#959cdf, #1b289c);
  z-index: 5;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none; }

.navigation-item {
  margin: 1.5rem; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  padding: 1rem 2rem;
  background-size: 265%;
  transition: all .5s; }

.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #4955c0;
  transform: translateX(1rem); }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80); }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%; }

.navigation-icon {
  position: relative;
  margin-top: 3.2rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 3rem;
    height: 3px;
    background-color: #000;
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation-icon::before {
    top: -.9rem; }
  .navigation-icon::after {
    top: .9rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1.1rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1.1rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center; }
  .heading-primary-main {
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    animation: header-main-slide-effect;
    animation-timing-function: ease-out;
    animation-duration: 1s; }
    @media (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 4rem;
    letter-spacing: calc(1.4rem + 0.6px);
    animation: header-sub-slide-effect 1s ease-out;
    margin-bottom: 4rem; }
    @media (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: .5rem;
        font-size: 3rem; } }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #959cdf, #1b289c);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 5px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(2deg) scale(1.05);
    text-shadow: 0.5rem 1rem 0.7rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  text-align: justify;
  font-weight: 300;
  font-size: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -15vh; }

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, #1b289c, rgba(73, 85, 192, 0.8), rgba(149, 156, 223, 0.6)), url(../images/feature-section.jpg);
  background-size: cover;
  transform: skewY(-4.5deg);
  margin-top: -7rem; }
  .section-feature > * {
    transform: skewY(4.5deg); }

.section-avatar {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -15vh; }

.section-great-devotees {
  padding: 15rem 0;
  position: relative; }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #959cdf, #1b289c); }

.contact-box {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, transparent 50%), url(../images/feature-section.jpg);
  background-size: cover;
  background-position: center;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.2); }

.contact-form {
  width: 50%;
  padding: 6rem; }
