// variables
$color-primary: rgb(218, 126, 218);

// scss
* {
  margin: 0;
  padding: 0;
}

@mixin clearfix {
  content: "";
  clear: both;
  display: table;
}

@mixin style-link-text($color) {
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
}

@function my-function($a, $b) {
  @return $a/$b;
}

nav {
  // margin: 30px;
  // for converting into pixels
  margin: my-function(60, 2) * 1px;
  background-color: $color-primary;
  &::after {
    @include clearfix;
  }
}

%btn-link-placeholder {

}

.navigation {
  list-style: none;
  li {
    display: inline-block;
    margin-left: 30px;
    &:first-child {
      margin: 0;
    }
  }
  a:link {
    // text-decoration: none;
    // text-transform: uppercase;
    @include style-link-text($color-primary);
  }
  // li:first-child {
  //     margin: 0;
  // }
}
// clearfix is used to clear floated content within the container

.button {
  float: right;
  // text-decoration: none;
  // text-transform: uppercase;
  @include style-link-text(red);
  border-radius: 100px;

  width: 150px;
}

.btn-main {
  &:link {
    color: white;
    background-color: red;
  }
  &:hover {
    color: blue;
    background-color: darken($color: yellow, $amount: 15%);
  }
}


// note: @include - @mixin includes the styles to the selector and @extend - %placeholder includes selector to the css.