.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;

    &-content {
        // below height and wigth will not work as video is gonna fit into aspect ratio, but for me it's working
        height: 100%;
        width: 100%;
        // object-fit: cover can be worked for firefox but cannot be worked for chrome, but fill worked for both
        object-fit: fill;
    }
}