.btn {
    &:link,
    &:visited {
      font-size: 2rem;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
    }
  
    &-section {
      text-align: center;
    }
  
    &-white {
      background-color: $white-color;
      color: $black-color;
      &::after {
        color: $black-color;
        background-color: $white-color;
      }
    }
  
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($black-color, 0.5);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 0.5rem rgba($black-color, 0.8);
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  
    &-animated {
      animation: button-move-up-effect 1s ease-out 0.5s;
      animation-fill-mode: backwards;
    }
  }

  .button-text {
    &:link, &:visited {
      text-decoration: none;
      font-size: 2rem;
      color: $white-color;
      display: inline-block;
      padding: .8rem 2rem .4rem;
      border-radius: 10rem;
      transition: all .3s;
      background-color: $color-primary;
    }

    &:hover {
      background-color: $color-primary-dark;
      color: $white-color;
      box-shadow: 0 1rem 2rem rgba($black-color, .2);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: 0 .5rem 1rem rgba($black-color, .5);
      transform: translateY(0);
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }