$color-primary-dark: rgb(27, 40, 156);
$color-primary: rgb(73, 85, 192);
$color-primary-light: rgb(149, 156, 223);
$body-color: #777;
$white-color: #fff;
$black-color: #000;

$color-gray: #f7f7f7;

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;